.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.letter_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.space{
    width: 10px;
}

.key_container{
    padding: 0 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.key_input{
    margin: 2px;
}

.highlight{
    background-color: #FFFF00;

}

